.movies {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 30px;
    flex-grow: 1;
}

@media (max-width: 1023px) {
    .movies {
        max-width: 708px;
    }
}

@media (max-width: 767px) {
    .movies {
        max-width: 300px;
        padding: 0 10px;
    }
}

.movies__button {
    width: 320px;
    height: 36px;
    margin: 0 auto;
    background: #2F2F2F;
    border-radius: 6px;
    border: none;
    color: #FFFFFF;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: block;
    text-align: center;
    vertical-align: center;
}

@media (max-width: 767px) {
    .movies__button {
        max-width: 240px;
    }
}