.filter-group {
    position: relative;
    margin: 10px 0 0 30px;
}

@media (max-width: 1023px) {
    .filter-group {
        margin-left: 22px;
    }
}

@media (max-width: 767px) {
    .filter-group {
        margin: 11px 0 38px 3px;
    }
}

.filter-group__checkbox {
    visibility: hidden;
}

.filter-group__checkbox-label {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #F5F5F5;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: all 0.4s ease;
    cursor: pointer;
    z-index: 1;
}

.filter-group__checkbox:checked + .filter-group__checkbox-label {
    background-color: #3DDC84;
    left: 17px;
}

.filter-group__background {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 35px;
    height: 20px;
    background-color: #222;
    border-radius: 50px;
    /*z-index: 0;*/
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.08);
}

.filter-group__text {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0 0 0 35px;
}

@media (max-width: 767px) {
    .filter-group__text {
        font-size: 11px;
        line-height: 18px;
     }
}